.table tbody tr:hover {
	color: white;
}

#answer {
	margin-bottom: 20px;
}

.text {
	text-align: center;
	line-height: 200px;
	font-family: sans-serif, Microsoft Jhenghei;
	text-transform: uppercase;
	font-size: 32px;
  font-weight: bold;
}

.rect {
	height: 200px;
}

/* write your css here... */

